certifi
charset-normalizer
click
colorama
dataclasses
Faker
Flask
flask-ngrok
idna
importlib-metadata
itsdangerous
Jinja2
MarkupSafe
paho-mqtt
PyJWT
python-dateutil
python-ngrok
pytz
requests
six
text-unidecode
twilio
typing-extensions
urllib3
Werkzeug
zipp
jsonify
paho-mqtt
flask_login
unidecode