absl-py
aniso8601
asgiref
astor
astunparse
attrs
beautifulsoup4
bidict
black
cached-property
cachetools
certifi
cffi
charset-normalizer
clang
click
cmake
colorama
colorscale
cryptography
cvlib
cycler
dataclasses
decorator
distro
Django
dnspython
docker-pycreds
docopt
dominate
eventlet
field
filelock
Flask
Flask-Bootstrap
Flask-Login
Flask-MQTT
flask-ngrok
Flask-RESTful
flask-restplus
flask-restx
Flask-SocketIO
Flask-SQLAlchemy
flatbuffers
future
gast
gcodeparser
gdown
gitdb
GitPython
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib
google-images-download
google-pasta
googleapis-common-protos
greenlet
grpcio
gspread
gunicorn
h5py
httplib2
idna
image
imageio
importlib-metadata
importlib-resources
imutils
iso8601
itsdangerous
Jinja2
joblib
jsonschema
kdtree
Keras
Keras-Applications
Keras-Preprocessing
kiwisolver
ldap3
Markdown
MarkupSafe
matplotlib
mediapipe
mypy-extensions
mysql-connector-python
networkx
numpy
oauth2client
oauthlib
opt-einsum
packaging
paho-mqtt
pandas
pathspec
pathtools
Pillow
pipreqs
platformdirs
progressbar
progressbar2
promise
protobuf
psutil
psycopg2-binary
pyasn1
pyasn1-modules
pycparser
PyDrive2
pygame
pygit
PyJWT
pyOpenSSL
pyparsing
pyrsistent
pyserial
PySide6
PySide6-Addons
PySide6-Essentials
PySocks
pytz
PyWavelets
PyYAML
qrcode
requests
requests-oauthlib
rsa
scikit-build
scikit-image
scikit-learn
scipy
secure-smtplib
selenium
sentry-sdk
serial
setproctitle
shiboken6
shortuuid
simple-image-download
six
sklearn
smmap
soupsieve
SQLAlchemy
sqlparse
tensorboard
tensorboard-data-server
tensorboard-plugin-wit
tensorflow
tensorflow-estimator
termcolor
Theano
threadpoolctl
tifffile
tk
tomli
tqdm
twilio
typed-ast
typing_extensions
Unidecode
uritemplate
urllib3
visitor
waitress
wandb
Werkzeug
wrapt
yarg
zipp
